In [39]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# ------------------------------
# 1. Generar Caracteristicas_Equipos.csv
# ------------------------------

# Parámetros iniciales
num_equipos = 500
tipos_equipo = ['Motor', 'Generador', 'Compresor', 'Bomba']
fabricantes = ['Fabricante_A', 'Fabricante_B', 'Fabricante_C', 'Fabricante_D']
modelos = [f'Modelo_{i}' for i in range(1, 11)]

# Generar datos
data_caracteristicas = []
for equipo_id in range(1, num_equipos + 1):
    tipo_equipo = np.random.choice(tipos_equipo)
    fabricante = np.random.choice(fabricantes)
    modelo = np.random.choice(modelos)
    potencia_kw = np.random.randint(50, 500)  # Potencia entre 50 kW y 500 kW
    horas_recomendadas_revision = np.random.randint(500, 1000)  # Horas recomendadas entre 500 y 1000
    
    data_caracteristicas.append([equipo_id, tipo_equipo, fabricante, modelo, potencia_kw, horas_recomendadas_revision])

# Crear DataFrame
columns_caracteristicas = ['ID_Equipo', 'Tipo_Equipo', 'Fabricante', 'Modelo', 'Potencia_kW', 'Horas_Recomendadas_Revision']
df_caracteristicas = pd.DataFrame(data_caracteristicas, columns=columns_caracteristicas)

# Guardar como CSV
df_caracteristicas.to_csv('./out/Caracteristicas_Equipos.csv', index=False)
print("Dataset 'Caracteristicas_Equipos.csv' generado.")

# ------------------------------
# 2. Generar Registros_Condiciones.csv
# ------------------------------

# Parámetros iniciales
fecha_inicio = datetime(2021, 1, 1)
fecha_fin = datetime(2024, 12, 31)
dias_totales = (fecha_fin - fecha_inicio).days + 1
num_equipos = 500

# Generar datos
data_registros = []
reset_dates = {}  # Para almacenar fechas de reset por equipo

for equipo_id in range(1, num_equipos + 1):
    horas_operativas = np.random.randint(0, 721)  # Horas iniciales aleatorias entre 0 y 720
    reset_dates[equipo_id] = []  # Lista para almacenar fechas de reset
    
    for dia in range(dias_totales):
        fecha_actual = fecha_inicio + timedelta(days=dia)
        
        # Incrementar horas operativas en un número aleatorio entre 0 y 24
        incremento_horas = np.random.randint(0, 25)
        horas_operativas += incremento_horas
        
        # Aleatoriamente resetear las horas operativas (probabilidad del 5%)
        if np.random.rand() < 0.01:
            horas_operativas = np.random.randint(0, 24)  # Resetear a un valor aleatorio
            reset_dates[equipo_id].append(fecha_actual)  # Guardar la fecha de reset
        
        # Generar valores aleatorios para temperatura y vibración
        temperatura = np.random.uniform(20, 100)  # Temperatura entre 20°C y 100°C
        vibracion = np.random.uniform(0, 10)      # Vibración entre 0 mm/s y 10 mm/s
        
        # Añadir el registro a la lista de datos
        data_registros.append([
            len(data_registros) + 1,  # ID_Registro (único para cada fila)
            equipo_id,                # ID_Equipo
            fecha_actual.strftime('%Y-%m-%d'),  # Fecha
            temperatura,              # Temperatura_C
            vibracion,                # Vibracion_mm_s
            horas_operativas          # Horas_Operativas
        ])

# Crear DataFrame
columns_registros = ['ID_Registro', 'ID_Equipo', 'Fecha', 'Temperatura_C', 'Vibracion_mm_s', 'Horas_Operativas']
df_registros = pd.DataFrame(data_registros, columns=columns_registros)

# Guardar como CSV
df_registros.sort_values(by=[ 'Fecha'], inplace=True)  # Ordenar por fecha
df_registros.to_csv('./out/Registros_Condiciones.csv', index=False)
print("Dataset 'Registros_Condiciones.csv' generado.")

# ------------------------------
# 3. Generar Historicos_Ordenes.csv
# ------------------------------

# Parámetros iniciales
tipos_mantenimiento = ['Preventivo', 'Correctivo']
ubicaciones = ['Ubicacion_A', 'Ubicacion_B', 'Ubicacion_C', 'Ubicacion_D']

# Generar datos
data_ordenes = []

for equipo_id in range(1, num_equipos + 1):
    ubicacion = np.random.choice(ubicaciones)  # Ubicación fija para el equipo
    horas_recomendadas_revision = df_caracteristicas.loc[df_caracteristicas['ID_Equipo'] == equipo_id, 'Horas_Recomendadas_Revision'].values[0]
    
    # Mantenimientos correctivos (basados en fechas de reset)
    for fecha_reset in reset_dates[equipo_id]:
        costo_correctivo = np.random.randint(500, 5000)  # Costo entre 500 y 5000
        duracion_correctivo = np.random.randint(1, 25)  # Duración entre 1 y 24 horas
        
        data_ordenes.append([
            len(data_ordenes) + 1,  # ID_Orden
            equipo_id,              # ID_Equipo
            fecha_reset.strftime('%Y-%m-%d'),  # Fecha
            'Correctivo',           # Tipo_Mantenimiento
            costo_correctivo,       # Costo_Mantenimiento
            duracion_correctivo,    # Duracion_Horas
            ubicacion               # Ubicacion
        ])
    
    # Mantenimientos preventivos (basados en horas recomendadas de revisión)
    fecha_actual = fecha_inicio
    while fecha_actual <= fecha_fin:
        # Calcular la próxima fecha de mantenimiento preventivo
        horas_preventivo = horas_recomendadas_revision * np.random.uniform(0.8, 1.2)  # ±20%
        dias_preventivo = int(horas_preventivo / 24)
        fecha_proximo_preventivo = fecha_actual + timedelta(days=dias_preventivo)
        
        if fecha_proximo_preventivo > fecha_fin:
            break
        
        costo_preventivo = np.random.randint(100, 1000)  # Costo entre 100 y 1000
        duracion_preventivo = np.random.randint(1, 3)    # Duración entre 1 y 2 horas
        
        data_ordenes.append([
            len(data_ordenes) + 1,  # ID_Orden
            equipo_id,              # ID_Equipo
            fecha_proximo_preventivo.strftime('%Y-%m-%d'),  # Fecha
            'Preventivo',           # Tipo_Mantenimiento
            costo_preventivo,       # Costo_Mantenimiento
            duracion_preventivo,    # Duracion_Horas
            ubicacion               # Ubicacion
        ])
        
        fecha_actual = fecha_proximo_preventivo

# Crear DataFrame
columns_ordenes = ['ID_Orden', 'ID_Equipo', 'Fecha', 'Tipo_Mantenimiento', 'Costo_Mantenimiento', 'Duracion_Horas', 'Ubicacion']
df_ordenes = pd.DataFrame(data_ordenes, columns=columns_ordenes)

# Guardar como CSV
df_ordenes.sort_values(by=[ 'Fecha'], inplace=True)  # Ordenar por fecha
df_ordenes.to_csv('./out/Historicos_Ordenes.csv', index=False)
print("Dataset 'Historicos_Ordenes.csv' generado.")

Dataset 'Caracteristicas_Equipos.csv' generado.
Dataset 'Registros_Condiciones.csv' generado.
Dataset 'Historicos_Ordenes.csv' generado.

## Analisis

In [45]:
from tabulate import tabulate

print('df_ordenes:',tabulate(df_ordenes.head(20), headers='keys', tablefmt='psql'))
print('df_registros:',tabulate((df_registros.head(20)), headers='keys', tablefmt='psql'))
print('df_caracteristicas:',tabulate((df_caracteristicas.head(5)), headers='keys', tablefmt='psql'))

df_ordenes: +-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------+
|       |   ID_Orden |   ID_Equipo | Fecha      | Tipo_Mantenimiento   |   Costo_Mantenimiento |   Duracion_Horas | Ubicacion   |
|-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------|
|  6645 |       6646 |         105 | 2021-01-01 | Correctivo           |                  2492 |                3 | Ubicacion_C |
| 16623 |      16624 |         262 | 2021-01-01 | Correctivo           |                  1277 |               13 | Ubicacion_A |
| 25618 |      25619 |         401 | 2021-01-01 | Correctivo           |                  3535 |               21 | Ubicacion_C |
| 10912 |      10913 |         173 | 2021-01-01 | Correctivo           |                  1633 |               23 | Ubicacion_C |
| 12987 |      12988 |         205 | 2021-01-01 | Correctivo           |                   994 |               12 | Ubicacion_B |
| 12928 |      12929 |         204 | 2021-01-01 | Correctivo           |                  3568 |               21 | Ubicacion_D |
| 27950 |      27951 |         439 | 2021-01-01 | Correctivo           |                  4626 |                6 | Ubicacion_C |
| 21958 |      21959 |         344 | 2021-01-01 | Correctivo           |                  1066 |               13 | Ubicacion_A |
| 26303 |      26304 |         412 | 2021-01-01 | Correctivo           |                  2698 |               24 | Ubicacion_C |
|  9141 |       9142 |         144 | 2021-01-01 | Correctivo           |                  4763 |                2 | Ubicacion_D |
| 17499 |      17500 |         275 | 2021-01-01 | Correctivo           |                  3111 |               13 | Ubicacion_C |
|  5745 |       5746 |          91 | 2021-01-02 | Correctivo           |                  2944 |                5 | Ubicacion_D |
| 30960 |      30961 |         486 | 2021-01-02 | Correctivo           |                  3327 |                7 | Ubicacion_D |
| 19180 |      19181 |         300 | 2021-01-02 | Correctivo           |                  4240 |               12 | Ubicacion_D |
|   568 |        569 |          10 | 2021-01-02 | Correctivo           |                  1368 |                5 | Ubicacion_A |
|  4700 |       4701 |          75 | 2021-01-02 | Correctivo           |                   746 |                9 | Ubicacion_B |
|  9026 |       9027 |         142 | 2021-01-02 | Correctivo           |                  4436 |                6 | Ubicacion_D |
| 20877 |      20878 |         327 | 2021-01-02 | Correctivo           |                  1199 |                2 | Ubicacion_C |
| 24748 |      24749 |         387 | 2021-01-03 | Correctivo           |                  3670 |               18 | Ubicacion_B |
| 14011 |      14012 |         221 | 2021-01-03 | Correctivo           |                  1991 |                3 | Ubicacion_B |
+-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------+
df_registros: +--------+---------------+-------------+------------+-----------------+------------------+--------------------+
|        |   ID_Registro |   ID_Equipo | Fecha      |   Temperatura_C |   Vibracion_mm_s |   Horas_Operativas |
|--------+---------------+-------------+------------+-----------------+------------------+--------------------|
|      0 |             1 |           1 | 2021-01-01 |         70.7741 |        0.0701345 |                519 |
| 153405 |        153406 |         106 | 2021-01-01 |         99.3369 |        6.18933   |                126 |
| 650145 |        650146 |         446 | 2021-01-01 |         37.3156 |        6.52355   |                370 |
| 154866 |        154867 |         107 | 2021-01-01 |         87.8506 |        5.48826   |                262 |
| 156327 |        156328 |         108 | 2021-01-01 |         77.492  |        4.27245   |                257 |
| 648684 |        648685 |         445 | 2021-01-01 |         51.7562 |        1.184     |                574 |
| 157788 |        157789 |         109 | 2021-01-01 |         74.0891 |        1.34932   |                354 |
| 159249 |        159250 |         110 | 2021-01-01 |         59.987  |        3.78961   |                253 |
| 647223 |        647224 |         444 | 2021-01-01 |         50.2821 |        9.43009   |                682 |
| 160710 |        160711 |         111 | 2021-01-01 |         97.1178 |        5.27693   |                604 |
| 162171 |        162172 |         112 | 2021-01-01 |         84.3233 |        5.47428   |                516 |
| 645762 |        645763 |         443 | 2021-01-01 |         30.5966 |        0.870146  |                 88 |
| 163632 |        163633 |         113 | 2021-01-01 |         28.3009 |        3.43153   |                239 |
| 165093 |        165094 |         114 | 2021-01-01 |         82.369  |        9.14873   |                 83 |
| 644301 |        644302 |         442 | 2021-01-01 |         76.9671 |        0.834402  |                732 |
| 166554 |        166555 |         115 | 2021-01-01 |         30.6204 |        8.37281   |                 73 |
| 168015 |        168016 |         116 | 2021-01-01 |         20.8603 |        2.09509   |                393 |
| 642840 |        642841 |         441 | 2021-01-01 |         57.1053 |        8.958     |                287 |
| 169476 |        169477 |         117 | 2021-01-01 |         46.3908 |        8.98478   |                396 |
| 170937 |        170938 |         118 | 2021-01-01 |         81.6267 |        6.29395   |                454 |
+--------+---------------+-------------+------------+-----------------+------------------+--------------------+
df_caracteristicas: +----+-------------+---------------+--------------+-----------+---------------+-------------------------------+
|    |   ID_Equipo | Tipo_Equipo   | Fabricante   | Modelo    |   Potencia_kW |   Horas_Recomendadas_Revision |
|----+-------------+---------------+--------------+-----------+---------------+-------------------------------|
|  0 |           1 | Motor         | Fabricante_B | Modelo_10 |           202 |                           866 |
|  1 |           2 | Compresor     | Fabricante_B | Modelo_2  |           136 |                           841 |
|  2 |           3 | Generador     | Fabricante_B | Modelo_3  |           385 |                           767 |
|  3 |           4 | Motor         | Fabricante_B | Modelo_9  |           301 |                           682 |
|  4 |           5 | Bomba         | Fabricante_D | Modelo_3  |           148 |                           969 |
+----+-------------+---------------+--------------+-----------+---------------+-------------------------------+

In [46]:
from tabulate import tabulate

print('df_ordenes:',tabulate(df_ordenes.tail(20), headers='keys', tablefmt='psql'))
print('df_registros:',tabulate((df_registros.tail(20)), headers='keys', tablefmt='psql'))
print('df_caracteristicas:',tabulate((df_caracteristicas.tail(5)), headers='keys', tablefmt='psql'))

df_ordenes: +-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------+
|       |   ID_Orden |   ID_Equipo | Fecha      | Tipo_Mantenimiento   |   Costo_Mantenimiento |   Duracion_Horas | Ubicacion   |
|-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------|
| 22194 |      22195 |         346 | 2024-12-31 | Preventivo           |                   679 |                2 | Ubicacion_B |
| 15516 |      15517 |         244 | 2024-12-31 | Preventivo           |                   791 |                2 | Ubicacion_B |
| 20257 |      20258 |         316 | 2024-12-31 | Preventivo           |                   635 |                1 | Ubicacion_B |
|  2414 |       2415 |          40 | 2024-12-31 | Correctivo           |                  3896 |                8 | Ubicacion_B |
| 29256 |      29257 |         458 | 2024-12-31 | Preventivo           |                   259 |                1 | Ubicacion_A |
| 17154 |      17155 |         269 | 2024-12-31 | Preventivo           |                   938 |                2 | Ubicacion_C |
| 25310 |      25311 |         395 | 2024-12-31 | Preventivo           |                   509 |                2 | Ubicacion_C |
| 10101 |      10102 |         159 | 2024-12-31 | Preventivo           |                   445 |                1 | Ubicacion_A |
| 25258 |      25259 |         395 | 2024-12-31 | Correctivo           |                  3604 |                3 | Ubicacion_C |
| 25237 |      25238 |         394 | 2024-12-31 | Preventivo           |                   804 |                2 | Ubicacion_C |
| 17730 |      17731 |         277 | 2024-12-31 | Preventivo           |                   309 |                2 | Ubicacion_D |
| 17270 |      17271 |         271 | 2024-12-31 | Preventivo           |                   318 |                2 | Ubicacion_B |
| 12927 |      12928 |         203 | 2024-12-31 | Preventivo           |                   685 |                2 | Ubicacion_D |
| 25171 |      25172 |         393 | 2024-12-31 | Preventivo           |                   665 |                1 | Ubicacion_A |
|  8327 |       8328 |         131 | 2024-12-31 | Correctivo           |                  2839 |               19 | Ubicacion_C |
| 22114 |      22115 |         345 | 2024-12-31 | Preventivo           |                   459 |                1 | Ubicacion_C |
| 21824 |      21825 |         341 | 2024-12-31 | Preventivo           |                   303 |                2 | Ubicacion_B |
| 28286 |      28287 |         443 | 2024-12-31 | Preventivo           |                   962 |                1 | Ubicacion_A |
|  1337 |       1338 |          22 | 2024-12-31 | Preventivo           |                   187 |                1 | Ubicacion_B |
|  3318 |       3319 |          54 | 2024-12-31 | Correctivo           |                  4019 |               23 | Ubicacion_B |
+-------+------------+-------------+------------+----------------------+-----------------------+------------------+-------------+
df_registros: +--------+---------------+-------------+------------+-----------------+------------------+--------------------+
|        |   ID_Registro |   ID_Equipo | Fecha      |   Temperatura_C |   Vibracion_mm_s |   Horas_Operativas |
|--------+---------------+-------------+------------+-----------------+------------------+--------------------|
| 473363 |        473364 |         324 | 2024-12-31 |         78.0096 |         6.64725  |                109 |
| 474824 |        474825 |         325 | 2024-12-31 |         85.4627 |         7.17945  |                816 |
| 476285 |        476286 |         326 | 2024-12-31 |         80.0697 |         3.44626  |               3734 |
| 546413 |        546414 |         374 | 2024-12-31 |         77.9155 |         2.31508  |               1470 |
| 477746 |        477747 |         327 | 2024-12-31 |         45.4774 |         9.73164  |                543 |
| 480668 |        480669 |         329 | 2024-12-31 |         93.2053 |         8.92785  |               1608 |
| 482129 |        482130 |         330 | 2024-12-31 |         50.2399 |         0.412068 |               1087 |
| 483590 |        483591 |         331 | 2024-12-31 |         29.1088 |         1.16277  |               1526 |
| 485051 |        485052 |         332 | 2024-12-31 |         37.3167 |         0.790308 |                416 |
| 486512 |        486513 |         333 | 2024-12-31 |         54.8243 |         2.79662  |                699 |
| 487973 |        487974 |         334 | 2024-12-31 |         42.5873 |         1.93923  |               1268 |
| 489434 |        489435 |         335 | 2024-12-31 |         63.2511 |         0.9442   |                429 |
| 490895 |        490896 |         336 | 2024-12-31 |         69.8477 |         4.35827  |               2837 |
| 492356 |        492357 |         337 | 2024-12-31 |         37.0613 |         9.32849  |               1174 |
| 493817 |        493818 |         338 | 2024-12-31 |         94.2687 |         8.27142  |                585 |
| 495278 |        495279 |         339 | 2024-12-31 |         59.8001 |         7.51313  |               2020 |
| 496739 |        496740 |         340 | 2024-12-31 |         54.4582 |         9.55794  |                255 |
| 498200 |        498201 |         341 | 2024-12-31 |         25.7696 |         5.70096  |                631 |
| 479207 |        479208 |         328 | 2024-12-31 |         72.9861 |         5.14906  |                 34 |
| 730499 |        730500 |         500 | 2024-12-31 |         51.3624 |         4.60535  |                 74 |
+--------+---------------+-------------+------------+-----------------+------------------+--------------------+
df_caracteristicas: +-----+-------------+---------------+--------------+----------+---------------+-------------------------------+
|     |   ID_Equipo | Tipo_Equipo   | Fabricante   | Modelo   |   Potencia_kW |   Horas_Recomendadas_Revision |
|-----+-------------+---------------+--------------+----------+---------------+-------------------------------|
| 495 |         496 | Bomba         | Fabricante_A | Modelo_1 |           400 |                           950 |
| 496 |         497 | Generador     | Fabricante_D | Modelo_3 |           413 |                           611 |
| 497 |         498 | Bomba         | Fabricante_A | Modelo_7 |           219 |                           608 |
| 498 |         499 | Generador     | Fabricante_D | Modelo_1 |           471 |                           871 |
| 499 |         500 | Motor         | Fabricante_A | Modelo_2 |           463 |                           769 |
+-----+-------------+---------------+--------------+----------+---------------+-------------------------------+

In [47]:
print('df_ordenes:',df_ordenes.shape)
print('df_registros:',df_registros.shape)
print('df_caracteristicas:',df_caracteristicas.shape)

df_ordenes: (31927, 7)
df_registros: (730500, 6)
df_caracteristicas: (500, 6)

In [48]:
df_registros['Año'] = pd.to_datetime(df_registros['Fecha']).dt.year
df_registros['Mes'] = pd.to_datetime(df_registros['Fecha']).dt.month 
df_registros['Dia'] = pd.to_datetime(df_registros['Fecha']).dt.day 

df_registros.groupby(['ID_Equipo', 'Año', 'Mes']).count()

                    ID_Registro  Fecha  Temperatura_C  Vibracion_mm_s  \
ID_Equipo Año  Mes
1         2021 1             31     31             31              31
               2             28     28             28              28
               3             31     31             31              31
               4             30     30             30              30
               5             31     31             31              31
...                         ...    ...            ...             ...
500       2024 8             31     31             31              31
               9             30     30             30              30
               10            31     31             31              31
               11            30     30             30              30
               12            31     31             31              31

                    Horas_Operativas  Dia
ID_Equipo Año  Mes
1         2021 1                  31   31
               2                  28   28
               3                  31   31
               4                  30   30
               5                  31   31
...                              ...  ...
500       2024 8                  31   31
               9                  30   30
               10                 31   31
               11                 30   30
               12                 31   31

[24000 rows x 6 columns]

In [51]:
df_ordenes['Año'] = pd.to_datetime(df_ordenes['Fecha']).dt.year
df_ordenes['Mes'] = pd.to_datetime(df_ordenes['Fecha']).dt.month
df_ordenes['Dia'] = pd.to_datetime(df_ordenes['Fecha']).dt.day

print('\n** Correctivo:')
print(df_ordenes[['ID_Equipo', 'Fecha', 'Tipo_Mantenimiento']
           ].loc[(df_ordenes['Tipo_Mantenimiento'] == 'Correctivo') & (df_ordenes['ID_Equipo'] == 1)].count())


print('\n** Preventivo:')
print(df_ordenes[['ID_Equipo', 'Fecha', 'Tipo_Mantenimiento']
           ].loc[(df_ordenes['Tipo_Mantenimiento'] == 'Preventivo') & (df_ordenes['ID_Equipo'] == 1)].count())

** Correctivo:
ID_Equipo             20
Fecha                 20
Tipo_Mantenimiento    20
dtype: int64

** Preventivo:
ID_Equipo             42
Fecha                 42
Tipo_Mantenimiento    42
dtype: int64