# Solución etapa 3 - EDA + Cleaning

In [1]:
from tabulate import tabulate

def tabl(df):
    print(tabulate(df.head(),headers='keys'))
    print(df.shape)

In [2]:
# Formato de los prints
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'


def headr(text):
    return ('\n'+color.UNDERLINE + text + color.END+'\n')


def titl(text):
    return ('\n'+color.BOLD+color.UNDERLINE+color.BLUE + "** " + text.upper() + " **" + color.END+'\n')

In [3]:
# Cargar los datasets
import pandas as pd

historicos_ordenes = pd.read_csv('../data/Historicos_Ordenes.csv')
registros_condiciones = pd.read_csv('../data/Registros_Condiciones.csv')
caracteristicas_equipos = pd.read_csv('../data/Caracteristicas_Equipos.csv')

## Exploración

In [4]:
historicos_ordenes.describe()

          ID_Orden     ID_Equipo  Costo_Mantenimiento  Duracion_Horas
count  10020.00000  10020.000000          9971.000000    10020.000000
mean    4990.53992    249.282236          5255.820741       23.944910
std     2892.60031    143.827616          4708.387560       13.583254
min        1.00000      1.000000           101.510000        1.000000
25%     2485.75000    125.000000          2564.195000       12.000000
50%     4990.50000    248.000000          5079.310000       24.000000
75%     7495.25000    373.250000          7533.415000       36.000000
max    10000.00000    499.000000         96354.868231       47.000000

In [5]:
registros_condiciones.describe()

,ID_Registro,ID_Equipo,Temperatura_C,Vibracion_mm_s,Horas_Operativas
count,9000.000000,9000.000000,9000.000000,9000.000000,8960.000000
mean,4500.500000,248.968444,102.645101,2.761182,50058.926674
std,2598.220545,144.256714,59.343693,4.093956,28874.204890
min,1.000000,1.000000,50.060000,0.100000,46.000000
25%,2250.750000,124.000000,74.420000,1.320000,24937.500000
50%,4500.500000,247.000000,99.605000,2.560000,50237.000000
75%,6750.250000,375.000000,125.285000,3.830000,75240.250000
max,9000.000000,499.000000,999.000000,95.285333,99991.000000

In [6]:
caracteristicas_equipos.describe()

        ID_Equipo   Potencia_kW  Horas_Recomendadas_Revision
count  505.000000    505.000000                   505.000000
mean   248.049505   4673.451508                  5283.118812
std    145.841046  13039.374800                  2729.385909
min      1.000000   -100.000000                   509.000000
25%    122.000000   1206.000000                  2922.000000
50%    248.000000   2505.000000                  5243.000000
75%    374.000000   3902.000000                  7685.000000
max    500.000000  94117.691449                  9988.000000

In [7]:
# historicos_ordenes

from ydata_profiling import ProfileReport

# profile = ProfileReport(historicos_ordenes, title="Historico Profiling Report",
#                         correlations={
#                             "pearson": {"calculate": True},
#                             "cramers": {"calculate": True},
#                         })

In [8]:
# profile.to_notebook_iframe()

In [9]:
# caracteristicas_equipos

# profile = ProfileReport(caracteristicas_equipos, title="caracteristicas_equipos Profiling Report",
#                         correlations={
#                             "pearson": {"calculate": True},
#                             "cramers": {"calculate": True},
#                         })

In [10]:
# profile.to_notebook_iframe()

In [11]:
# registros_condiciones

# profile = ProfileReport(registros_condiciones, title="registros_condiciones Profiling Report",
#                         correlations={
#                             "pearson": {"calculate": True},
#                             "cramers": {"calculate": True},
#                         })

In [12]:
# profile.to_notebook_iframe()

In [13]:
print('historicos_ordenes:',historicos_ordenes.shape)
print('registros_condiciones:',registros_condiciones.shape)
print('caracteristicas_equipos:',caracteristicas_equipos.shape)

historicos_ordenes: (10020, 7)
registros_condiciones: (9000, 6)
caracteristicas_equipos: (505, 6)

## Limpiar

In [14]:
# hacemo copia
historicos_ordenes_cleaned = historicos_ordenes.copy()
registros_condiciones_cleaned = registros_condiciones.copy()
caracteristicas_equipos_cleaned = caracteristicas_equipos.copy()

### Nulos

In [15]:
# Verificar valores nulos
print(titl("Valores nulos"))

print(headr('historicos_ordenes:'),historicos_ordenes_cleaned.isnull().sum())
print(headr('registros_condiciones:'),registros_condiciones_cleaned.isnull().sum())
print(headr('caracteristicas_equipos:'),caracteristicas_equipos_cleaned.isnull().sum())

** VALORES NULOS **


historicos_ordenes:
 ID_Orden                0
ID_Equipo               0
Fecha                   0
Tipo_Mantenimiento      0
Costo_Mantenimiento    49
Duracion_Horas          0
Ubicacion               0
dtype: int64

registros_condiciones:
 ID_Registro          0
ID_Equipo            0
Fecha                0
Temperatura_C        0
Vibracion_mm_s       0
Horas_Operativas    40
dtype: int64

caracteristicas_equipos:
 ID_Equipo                      0
Tipo_Equipo                    0
Fabricante                     0
Modelo                         0
Potencia_kW                    0
Horas_Recomendadas_Revision    0
dtype: int64

In [16]:
# Manejo de valores nulos
historicos_ordenes_cleaned.dropna(subset=['Costo_Mantenimiento'], inplace=True)  # Ejemplo de imputación
registros_condiciones_cleaned.dropna(subset=['Temperatura_C', 'Vibracion_mm_s'], inplace=True)  # Eliminar registros con valores faltantes críticos

In [17]:
print(titl("Valores nulos after:"))

print(headr('historicos_ordenes:'),historicos_ordenes_cleaned.isnull().sum())
print(headr('registros_condiciones:'),registros_condiciones_cleaned.isnull().sum())
print(headr('caracteristicas_equipos:'),caracteristicas_equipos_cleaned.isnull().sum())

** VALORES NULOS AFTER: **


historicos_ordenes:
 ID_Orden               0
ID_Equipo              0
Fecha                  0
Tipo_Mantenimiento     0
Costo_Mantenimiento    0
Duracion_Horas         0
Ubicacion              0
dtype: int64

registros_condiciones:
 ID_Registro          0
ID_Equipo            0
Fecha                0
Temperatura_C        0
Vibracion_mm_s       0
Horas_Operativas    40
dtype: int64

caracteristicas_equipos:
 ID_Equipo                      0
Tipo_Equipo                    0
Fabricante                     0
Modelo                         0
Potencia_kW                    0
Horas_Recomendadas_Revision    0
dtype: int64

### Duplicados

In [18]:
# Eliminar duplicados
print(titl("Duplicados"))

print(headr('historicos_ordenes:'),historicos_ordenes_cleaned.duplicated().sum())
print(headr('registros_condiciones:'),registros_condiciones_cleaned.duplicated().sum())
print(headr('caracteristicas_equipos:'),caracteristicas_equipos_cleaned.duplicated().sum())

** DUPLICADOS **


historicos_ordenes:
 20

registros_condiciones:
 0

caracteristicas_equipos:
 5

In [19]:
# Eliminar duplicados
historicos_ordenes_cleaned.drop_duplicates(inplace=True)
registros_condiciones_cleaned.drop_duplicates(inplace=True)
caracteristicas_equipos_cleaned.drop_duplicates(inplace=True)

In [20]:
# Eliminar duplicados
print(titl("Duplicados después"))

print(headr('historicos_ordenes:'),historicos_ordenes_cleaned.duplicated().sum())
print(headr('registros_condiciones:'),registros_condiciones_cleaned.duplicated().sum())
print(headr('caracteristicas_equipos:'),caracteristicas_equipos_cleaned.duplicated().sum())

** DUPLICADOS DESPUÉS **


historicos_ordenes:
 0

registros_condiciones:
 0

caracteristicas_equipos:
 0

### Outliers

In [21]:
# Detectar y manejar outliers (ejemplo para temperatura)

# Extraer columnas numéricas y categóricas
from sklearn.compose import make_column_selector as selector

def extract_numerical_and_categorical(df):
    numerical_columns_selector = selector(dtype_exclude=object)
    categorical_columns_selector = selector(dtype_include=object)

    numerical_columns = numerical_columns_selector(df)
    categorical_columns = categorical_columns_selector(df)

    return numerical_columns, categorical_columns

In [22]:
h_num, h_cat = extract_numerical_and_categorical(historicos_ordenes_cleaned)
print(headr("h_num, h_cat"),h_num, h_cat)
r_num, r_cat = extract_numerical_and_categorical(registros_condiciones_cleaned)
print(headr("r_num, r_cat"),r_num, r_cat)
c_num, c_cat = extract_numerical_and_categorical(caracteristicas_equipos_cleaned)
print(headr("c_num, c_cat"),c_num, c_cat)

h_num, h_cat
 ['ID_Orden', 'ID_Equipo', 'Costo_Mantenimiento', 'Duracion_Horas'] ['Fecha', 'Tipo_Mantenimiento', 'Ubicacion']

r_num, r_cat
 ['ID_Registro', 'ID_Equipo', 'Temperatura_C', 'Vibracion_mm_s', 'Horas_Operativas'] ['Fecha']

c_num, c_cat
 ['ID_Equipo', 'Potencia_kW', 'Horas_Recomendadas_Revision'] ['Tipo_Equipo', 'Fabricante', 'Modelo']

In [23]:
# identificación
def identif_outliers(df, num_cols):
    IQR = df[num_cols].quantile(0.75) - df[num_cols].quantile(0.25)
    lower_bound = df[num_cols].quantile(0.25) - (IQR * 3)
    upper_bound = df[num_cols].quantile(0.75) + (IQR * 3)

    outliers = df[num_cols][(df[num_cols] < lower_bound) | (df[num_cols] > upper_bound)]

    # columnas con outliers
    columns_with_outliers = outliers.columns[outliers.count() > 0]
    columns_with_outliers

    return outliers.count(), columns_with_outliers, lower_bound, upper_bound

In [24]:
h_nout, h_col_out, h_low, h_upp = identif_outliers(historicos_ordenes_cleaned, h_num)
print(headr("h_num_out:"),h_nout)

r_nout, r_col_out, r_low, r_upp = identif_outliers(registros_condiciones_cleaned, r_num)
print(headr("r_num_out:"),r_nout)

c_nout, c_col_out, c_low, c_upp = identif_outliers(caracteristicas_equipos_cleaned, c_num)
print(headr("c_num_out:"),c_nout)

h_num_out:
 ID_Orden                0
ID_Equipo               0
Costo_Mantenimiento    30
Duracion_Horas          0
dtype: int64

r_num_out:
 ID_Registro          0
ID_Equipo            0
Temperatura_C       30
Vibracion_mm_s      25
Horas_Operativas     0
dtype: int64

c_num_out:
 ID_Equipo                       0
Potencia_kW                    15
Horas_Recomendadas_Revision     0
dtype: int64

In [25]:
# Función para winsorizar una columna
def winsorize_column(column, lower_bound, upper_bound):
    return column.clip(lower=lower_bound, upper=upper_bound)

In [26]:
# procesamos todas las comumnas con outliers
for col_name in h_col_out:
    historicos_ordenes_cleaned[col_name] = winsorize_column(historicos_ordenes_cleaned[col_name], h_low[col_name], h_upp[col_name])

for col_name in r_col_out:
    registros_condiciones_cleaned[col_name] = winsorize_column(registros_condiciones_cleaned[col_name], r_low[col_name], r_upp[col_name])

for col_name in c_col_out:
    caracteristicas_equipos_cleaned[col_name] = winsorize_column(caracteristicas_equipos_cleaned[col_name], c_low[col_name], c_upp[col_name])

In [27]:
h_nout, h_col_out, h_low, h_upp = identif_outliers(historicos_ordenes_cleaned, h_num)
print(headr("h_num_out:"),h_nout)

r_nout, r_col_out, r_low, r_upp = identif_outliers(registros_condiciones_cleaned, r_num)
print(headr("r_num_out:"),r_nout)

c_nout, c_col_out, c_low, c_upp = identif_outliers(caracteristicas_equipos_cleaned, c_num)
print(headr("c_num_out:"),c_nout)

h_num_out:
 ID_Orden               0
ID_Equipo              0
Costo_Mantenimiento    0
Duracion_Horas         0
dtype: int64

r_num_out:
 ID_Registro         0
ID_Equipo           0
Temperatura_C       0
Vibracion_mm_s      0
Horas_Operativas    0
dtype: int64

c_num_out:
 ID_Equipo                      0
Potencia_kW                    0
Horas_Recomendadas_Revision    0
dtype: int64

## Guardar estado

In [28]:
historicos_ordenes_cleaned.to_csv('../data/historicos_ordenes_cleaned.csv', index=False)
registros_condiciones_cleaned.to_csv('../data/registros_condiciones_cleaned.csv', index=False)
caracteristicas_equipos_cleaned.to_csv('../data/caracteristicas_equipos_cleaned.csv', index=False)